@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-secondary: #475569;
  --color-accent: #f59e0b;
}

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
}

body {
  background-color: var(--color-slate-50);
  color: var(--color-slate-900);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}